
/*Header*/

body header {
    width: 100%;
    margin: 2% 0;
}

body header nav {
    width: 100%;
    height: 50%;
}

body header nav ul li {
    margin: 2% 0 2% 2%;
    display: inline-block;
    padding: 2%;
}

/* Content */

/* All */

body main img {
    width: 100%;
}

body main section h1, body main section h2 {
    margin: 2% 0;
}

body main section ul {
    margin-left: 5%;
}

body main section ul li {
    margin: 2%;
    padding-left: 1%;
}

/* Index */

body main section h3 {
    margin: 1% 2%;
}

body main section article {
    margin: 3% 0;
}

/* Projects Page */

body main section a {
    display: inline-block;
    margin-bottom: 2%;
    padding: 1%;
}

/* Resume Page */

body main section object {
    margin-top: 3%;
    width: 100%;
    height: 100vh;
}

/* Footer */

body footer {
    height: 1%;
    margin: 5%;
}