@page
@model IndexModel
@{
}

<h1>Jimmy Chang</h1>

<article>
    <p>
        I am a C# Software Developer with a background in Civil and Environmental Engineering 
        who is passionate about working in an agile environment.
        I’m looking to develop applications that can bring people together.
    </p>
</article>

<h2>Technical Skills</h2>
<hr />
<article>
    <h3>Languages</h3>
    <ul>
        <li><h4>C#</h4></li>
        <li><h4>ASP.Net</h4></li>
        <li><h4>JavaScript</h4></li>
        <li><h4>SQL</h4></li>
        <li><h4>HTML5</h4></li>
        <li><h4>CSS</h4></li>
    </ul>

    <h3>Soft Skills</h3>
    <ul>
        <li><h4>Collaborative</h4></li>
        <li><h4>Hard Working</h4></li>
        <li><h4>Curious</h4></li>
        <li><h4>Credibile</h4></li>
        <li><h4>Adaptable</h4></li>
        <li><h4>Inclusive</h4></li>
    </ul>

    <section class="side-bar">
        <h3>Tools</h3>
        <ul>
            <li><h4>Visual Studio</h4></li>
            <li><h4>XUnit Testing</h4></li>
            <li><h4>Microsoft Azure</h4></li>
            <li><h4>Microsoft Identity</h4></li>
            <li><h4>Microsoft EntityFramework Core</h4></li>
            <li><h4>Visual Studio Code</h4></li>
            <li><h4>Github</h4></li>
            <li><h4>Azure Dev Ops</h4></li>
            <li><h4>Git</h4></li>
            <li><h4>Microsoft SQL Server</h4></li>
            <li><h4>React.js</h4></li>
            <li><h4>Node.js</h4></li>
            <li><h4>Auth.Net</h4></li>
            <li><h4>SendGrid</h4></li>
        </ul>
    </section>

</article>