@page
@model ProjectsModel
@{
}

<h1>Projects</h1>
<article>

    <h2>Wordify</h2>
    <a href="https://github.com/jimmychang94/Wordify"><i class="fab fa-github"></i> Github Repo</a>
    <p>August 2018</p>
    <p>A web application which translates text in images to machine readable text.</p>
    <ul>
        <li>
            I worked on:
            <ul>
                <li>Authentication</li>
                <li>Image Display</li>
                <li>Admin Dashboard</li>
                <li>Profile Page</li>
            </ul>
        </li>
        <li>
            I used these languages and tools in this application:
            <ul>
                <li>C#</li>
                <li>SQL</li>
                <li>HTML5</li>
                <li>CSS</li>
                <li>Visual Studio</li>
                <li>Microsoft Azure</li>
                <li>Visual Studio Team Services</li>
                <li>Microsoft SQL Server</li>
            </ul>
        </li>
    </ul>
</article>

<article>
    <h2>JJ Commerce</h2>
    <a href="https://github.com/jimmychang94/JJCommerce"><i class="fab fa-github"> Github Repo</i></a>
    <p>July 2018</p>
    <p>A mock e-commerce store utilizing baskets and orders. Implements identification, checkout, and email sending.</p>
    <ul>
        <li>
            I worked on:
            <ul>
                <li>Authentication</li>
                <li>Basket Checkout</li>
                <li>Payment Authorization</li>
                <li>Email Sending</li>
            </ul>
        </li>
        <li>
            I used these languages and tools in this application:
            <ul>
                <li>C#</li>
                <li>SQL</li>
                <li>HTML5</li>
                <li>CSS</li>
                <li>Visual Studio</li>
                <li>Microsoft Azure</li>
                <li>Visual Studio Team Services</li>
                <li>Google OAuth</li>
                <li>SendGrid</li>
                <li>Authorize.Net</li>
                <li>Microsoft SQL Server</li>
            </ul>
        </li>
    </ul>
</article>

<article>
    <h2>Music API</h2>
    <a href="https://github.com/CF-ASPNET-401-Midterm"><i class="fab fa-github"> Github Repo</i></a>
    <p>July 2018</p>
    <p>A web application which returns a playlists based off of specific genres.</p>
    <ul>
        <li>
            I worked on:
            <ul>
                <li>Utilizing the MusixMatch API</li>
                <li>Creating the Custom API</li>
                <li>Storing the Preset Playlists</li>
                <li>Writing Unit Tests</li>
            </ul>
        </li>
        <li>
            I used these languages and tools in this application:
            <ul>
                <li>C#</li>
                <li>SQL</li>
                <li>HTML5</li>
                <li>CSS</li>
                <li>Visual Studio</li>
                <li>Microsoft Azure</li>
                <li>XUnit Tests</li>
                <li>MusixMatch API</li>
                <li>Postman</li>
                <li>Visual Studio Team Services</li>
                <li>Microsoft SQL Server</li>
            </ul>
        </li>
    </ul>
</article>
