@page
@model ProjectsModel
@{
}

<h1>Projects</h1>

<br />

<h2>Wordify</h2>
<p>A web application which translates text in images to machine readable text.</p>
<a href="https://github.com/jimmychang94/Wordify">Github Repo</a>
<ul>
    <li>
        I worked on: 
        <ul>
            <li>Authentication</li>
            <li>Image Display</li>
            <li>Admin Dashboard</li>
            <li>Profile Page</li>
        </ul>
    </li>
    <li>
        I used these languages and tools in this application:
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Visual Studio</li>
            <li>Microsoft Azure</li>
            <li>Visual Studio Team Services</li>
            <li>Microsoft SQL Server</li>
        </ul>
    </li>
</ul>

