@page
@model ProjectsModel
@{
}

<h1>Projects</h1>

<h2>Wordify</h2>
<a href="https://github.com/jimmychang94/Wordify">Github Repo</a>
<p>A web application which translates text in images to machine readable text.</p>
<ul>
    <li>
        I worked on:
        <ul>
            <li>Authentication</li>
            <li>Image Display</li>
            <li>Admin Dashboard</li>
            <li>Profile Page</li>
        </ul>
    </li>
    <li>
        I used these languages and tools in this application:
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Visual Studio</li>
            <li>Microsoft Azure</li>
            <li>Visual Studio Team Services</li>
            <li>Microsoft SQL Server</li>
        </ul>
    </li>
</ul>

<h2>JJ Commerce</h2>
<a href="https://github.com/jimmychang94/JJCommerce">Github Repo</a>
<p>A mock e-commerce store utilizing baskets and orders. Implements identification, checkout, and email sending.</p>
<ul>
    <li>
        I worked on:
        <ul>
            <li>Authentication</li>
            <li>Basket Checkout</li>
            <li>Payment Authorization</li>
            <li>Email Sending</li>
        </ul>
    </li>
    <li>
        I used these languages and tools in this application:
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Visual Studio</li>
            <li>Microsoft Azure</li>
            <li>Visual Studio Team Services</li>
            <li>Google OAuth</li>
            <li>SendGrid</li>
            <li>Authorize.Net</li>
            <li>Microsoft SQL Server</li>
        </ul>
    </li>
</ul>

