@page
@model ResumeModel
@{

}

<h1>Resume</h1>

<form asp-page-handler="Post">
    <input type="submit" value="Download" />
</form>


<object data="~/assets/Resume.pdf" type="application/pdf"></object>

