<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/module.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme|Changa|Stoke" rel="stylesheet">
    <title>Jimmy Chang</title>
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index"><img src="~/assets/JCLogo.png" /></a>
            <ul>
                <li>
                    <a asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-page="/Projects">Projects</a>
                </li>
                <li>
                    <a asp-page="/Resume">Resume</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="~/assets/stEdwards.jpg" alt="St Edwards State Park" />
        <section>
            @RenderBody()
        </section>
    </main>
    <footer>
        <section>
            @* Use Font Awesome to get some favicons for Linkedin and Github *@
            <a href="https://github.com/jimmychang94/">Github</a>
            <a href="https://www.linkedin.com/in/jimmy-chang/">Linkedin</a>
        </section>
    </footer>
</body>
</html>
