body {

    header {

        nav {
            margin: 1% auto;

            ul {

                li {
                    display: inline-block;
                    margin: 0 2vw;
                }
            }
        }
    }
}