body {

    main {

        section {

            h1 {
                font-size: 4vw;
            }

            h2 {
                font-size: 3vw;
            }

            h3 {
                font-size: 2vw;
            }

            p {
                font-weight: bold;
                font-style: italic;
            }

            ul {
                list-style: square;

                li {
                    color: purple;
                }
            }
        }
    }
}
