body {

    main {

        section {

            h1 {
                font-size: 12vw;
            }

            h2 {
                font-size: 8vw;
            }

            h3 {
                font-size: 4vw;
            }

            p {
                font-weight: bold;
            }

            ul {
                list-style: circle;
            }
        }
    }
}
