body {

    main {

        section {

            h1 {
                font-size: 6vw;
            }

            h2 {
                font-size: 4vw;
            }

            h3 {
                font-size: 2vw;
            }

            p {
                font-style: italic;
            }

            ul {
                list-style: circle;
            }
        }
    }
}
